*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* added fonts */
a, p, h1, label, input{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}
marquee{
    color:rgb(241, 24, 60);
    font-style: italic;
    font-weight: bold;
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:white;
    padding: 20px 38px 0px 40px;
    padding-bottom: 2%;
    position: sticky;
    top: 0;
    z-index: 1;
}
  #normal{
        color: black !important;
    }

.navbar span{
    color: rgb(241, 24, 60);
    font-style: italic;
    font-size: 26px;
}
.navbar h1{
    font-size:26px;
    p{
        font-size: 21px;
    }
}
.navbar_icons{
    margin-top: 20px;
}
.navbar_icons img{
    width: 30px;
    margin-right: 30px;
}
#hover_nav{
    text-decoration: none;
    color:rgb(241, 24, 60);
}
#hover_nav:hover{
    color: white;
}
.navbar_btn {
    display: inline-block;
    color: rgb(241, 24, 60);
    border: 1px solid rgb(241, 24, 60);
    border-radius: 10px;
    padding: 1px 24px 5px 4px;
    background-image: url(./assets/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 69px 20px;
    text-decoration: none;
    a{
        display: inline-block; 
        p{
            color: rgb(241, 24, 60);
        }
    }
}
.navbar_btn:hover{
    background-color:rgb(241, 24, 60);
    color: white;
     p{
        color: black;
     }
}


/* remember to use 100vh for mobile bg here */
.firstbg{
    background-image: url(./assets/istockphoto-659270754-1024x1024-transformed.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.firstbg_text{
    display: inline-block;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 600px;
   margin-right: 20px;
   background-image: url(./assets/arrow-right.svg);
   background-repeat: no-repeat;
   background-size: 30px;
   background-position: 1160px 305px;
}
.firstbg h1:hover{
   color: white;
   border-color:white;
}
.firstbg h1{
    display: inline-block;
    color: rgb(241, 24, 60);
    border: 1px solid rgb(241, 24, 60);
    padding: 20px;
    border-radius: 10px;
    font-size:31px;
}
.firstbg h1 span{
    font-size: 28px;
    border:1px solid transparent;
    padding-right:30px;
    color: white;
}
.secondbg{
    margin-top: 10px;
    padding: 1%;
    display: flex;
}
.secondbg img{
    width: 50%;
    height: 500px;
    border-radius: 10px;
    margin-right: 1px;
}
.thirdbg{
    margin-top: 5px;
    padding: 1%;
    display: flex;
}
.thirdbg img{
    width: 50%;
    height: 500px;
    border-radius: 10px;
    margin-right: 1px;
}
.fourthbg{
    margin-top: 5px;
    padding: 1%;
    display: flex;
}
.fourthbg img{
    width: 50%;
    height: 500px;
    border-radius: 10px;
    margin-right: 1px;
}
.fifthbg{
    margin-top: 5px;
    padding: 1%;
    display: flex;
}
.fifthbg img{
    width: 50%;
    height: 500px;
    border-radius: 10px;
    margin-right: 1px;
}

/* designs button stylings */
.design_button{
    text-align: center;
    margin: 40px 0px;
}
#design_button{
    border: 1px solid rgb(241, 24, 60);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: rgb(241, 24, 60);
}
#design_button:hover{
    background-color: rgb(241, 24, 60);
    color: #f5f5ff;
}






.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 100px;
    background-image: url(./assets/788929.svg);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    width: 100%;
    height: 200px;
}
#signup_footer{
    margin-top: 20px;
}
.footer_text span{
    color: rgb(241, 24, 60);
    font-style: italic;
    font-size: 40px;
}
.footer_text h1{
    font-size:50px;
}
.footer_icons h1{
    margin-bottom: 20px;
    margin-left: 10px;
}
.bg-icons{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bg-icons span:nth-of-type(1){
     display: inline-block;
     padding-left: 30px;
     background-image: url(./assets/envelope.svg);
     background-repeat: no-repeat;
     line-height: 16px;
     color: rgb(241, 24, 60);
     margin-bottom: 10px;
}
.bg-icons span:nth-of-type(2){
    display: inline-block;
    padding-left: 30px;
    background-image: url(./assets/icon-phone.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 30px;
    line-height: 16px;
    background-color: black;
    color: white;
    border-radius:10px ;
    padding: 3px 0px 4px 30px;
    margin-bottom: 20px;
    text-align: center;

}
.icons{
    text-align: center;
}
.icons img{
    margin-right: 20px;
    width: 30px;
}
footer{
    text-align: center;
    font-weight: bold;
    margin: 20px;
}
footer span{
    color: rgb(241, 24, 60);
}


/* media query for 860px */
@media only screen and (max-width:860px){
   .navbar_icons img{
    margin-right: 20px;
   }
   .navbar_btn{
    display: none;
    margin: 0;
    padding: 0;
   }
   .firstbg{
   background-size: cover;
   width: 100%;
   height: 60vh;
   }
   .firstbg_text{
    display: inline-block;
    display: flex;
    align-items: center;
    height: 300px;
    background-image: url(./assets/arrow-right.svg);
   background-repeat: no-repeat;
   background-size: 30px;
   background-position: 425px 150px;
   }
   .firstbg_text h1{
    font-size: 20px;
   }
   .secondbg img{
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-right: 1px;
}
.footer{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        position: relative;
}.footer_text{
    display: none;
}
.footer_icons{
    position:sticky;
    z-index: 10;
}
footer{
    margin-top: 40px;
}
.footer_icons h1 {
    margin-bottom: 20px;
    margin-left: 0px;
          text-align: center;
        background: black;
        color: white;
        border-radius: 5px;
}
}

@media only screen and (max-width:450px){
    .firstbg{
        background-size: 100% 380px;
        background-repeat: no-repeat;
        width: 100%;
        height: 370px;
        }
        .firstbg_text{
            height: 400px;
           }
           .firstbg h1{
    display: inline-block;
    color: rgb(241, 24, 60);
    border: 1px solid rgb(241, 24, 60);
    padding: 20px;
    border-radius: 10px;
    font-size:20px;
}
.firstbg h1 span{
    font-size: 28px;
    border:1px solid transparent;
    padding-right:30px;
    color:black;
}
.secondbg, .thirdbg, .fourthbg, .fifthbg{
    display: block;
}
.secondbg img, .thirdbg img, .fourthbg img, .fifthbg img{
         width: 100%;
        border-radius: 20px;
        padding: 10px;
}
.navbar{
    padding: 20px 25px 0px 20px;
    padding-bottom: 2%;
}
.footer_text{
    display: none;
}
.footer_text span{
    font-size: 20px;
}
.footer_text h1{
    font-size:30px;
}
.footer_icons h1{
    color:rgb(241, 24, 60);
}
.footer{
    display: flex;
    flex-direction: column;
    border-top:1px solid rgb(241, 24, 60);
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: 250px;
    height: 200px;
    justify-content: center;
    align-items: center;
    /* margin-left: 0; */
    /* padding-top: 40px; */
    /* padding-left: 70px; */
}
.footer_icons{
    margin-left: 0;
    h1{
        text-align: center;
        margin-left: 0px;
    }
}
}
/* styles for login page */
.form{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 110px;
}
fieldset{
    display: inline-block;
    padding: 70px 40px;
    border-radius: 10px;
    border-color: rgb(241, 24, 60);
    border-width: 3px;
    padding-bottom: 50px;
}
legend{
   padding: 0px 20px;
   margin-top: 30px;
   color: rgb(241, 24, 60);
   font-weight: bold;
}
label{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}
input{
    margin-bottom: 10px;
}
input[type="text"]{
    outline: none;
    border-color: rgb(241, 24, 60);
    padding: 10px 20px;
    border-radius: 10px;
}
input[type="text"]:valid{
    padding: 10px 25px; 
    transition: 0.5s;
    color: green;
}
label[for=username]{
    color: rgb(241, 24, 60);
}
input[type="number"], input[type="email"]{
    outline: none;
    border-color: rgb(241, 24, 60);
    padding: 10px 20px;
    border-radius: 10px;
}
input[type="number"]:valid, input[type="email"]:valid{
    padding: 10px 25px; 
    transition: 0.5s;
    color: green;
}
#number{
    margin-top: 10px;
}
input[type="password"]{
    outline: none;
    border-color: rgb(241, 24, 60);
    padding: 10px 20px;
    border-radius: 10px;
}
input[type="password"]:valid{
    padding: 10px 25px; 
    transition: 0.5s;
    color: green;
}
label[for=password]{
    color: rgb(241, 24, 60);
}
input[type="submit"]{
    margin-top: 10px;
   padding: 5px 20px;
   color:white;
   border-color: rgb(241, 24, 60);
   border-radius: 10px;
   background-color: rgb(241, 24, 60);
   font-weight: bold;
   
}
#signup_page_input{
        text-align: center;
    width: 100%;
    font-size: 11px;
}

input[type="submit"]:hover{
    background-color:white;
    color: rgb(241, 24, 60);
    transition: 1s;
}
/* signup styles */
label[for="male"]{
    margin: 0px 60px 0px 5px;
    color: rgb(241, 24, 60);
}
label[for="female"]{
    margin: 5px 0px 0px 5px;
    color:  rgb(241, 24, 60);
}
#signup_button{
    background-color: rgb(241, 24, 60);
    color: white;
    padding: 3px 15px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 41px;
    border: 2px solid;
    border-color: rgb(241, 24, 60);
    box-shadow: 1px 1px 1px 1px black;
}
#signup_button:hover{
    color: rgb(241, 24, 60);
    background-color: white;
    transition: 0.5s;
    box-shadow: none;
}
/* media query style for form */
/* @media only screen and (max-width:400px){
.form{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:60px;
    margin-bottom:20px;
}
} */
/* css for the smaller devices first bg */
/* @media only screen and (max-width:420px){
    .firstbg{
        background-size: 420px 380px;
        background-repeat: no-repeat;
        width: 100%;
        height: 370px;
        }
} */
